<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DineWise</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://kit.fontawesome.com/c390c5079b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
  <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
</head>
<body>
  <!-- NAVBAR -->
  <nav>
    <div class="navbar">
    <div class="logo">
      <!-- <img href="{{ url_for('static', filename='images/DINEWISE-removebg-preview.jpg') }}" alt="logo"></div> -->
      <img src="{{ url_for('static', filename='images/DINEWISE-removebg-preview.png') }}" alt="Logo">
      
      <div class="navbar-option">
        <ul>
          <li><a href="index.html">HOME</a></li>
          <li><a href="#">RESTURANT--DETAILS</a></li>
          <li><a href="login.html">LOG IN</a></li>
          <li> <a href="contactus.html">CONTACT  US</a></li>
        </ul>
      </div>
  </div>
   <!-- HERO-SECTION -->
   <div class="hero-section">
    <div class="heading">
      <h1 id="data">Explore culinary excellence with <h1 id="w_name">DINEWISE</h1> <br></h1>
      <p>Let the modern allure of Roboto font guide you <br> through personalized dining recommendations. <br>
      Elevate your food journey effortlessly, discovering <br> extraordinary flavors tailored just for you.</p>
      <button class="btn fourth"><a href="log-in">LOG IN</a></button>
    </div>
    <div class="h-image">
      <img src="hero.png" alt="Picture">
    </div>
    
  </div>
  
  </nav>
  <br><br><br>
  
 

 <!-- FOOTER -->
 <div class="footer_main">
 <div class="footer">
  <div class="company">
<h1>DINEWISE</h1>
<ul>
  <li><a href="index.html">HOME</a></li>
  <li><a href="#">RESTURANT--DETAILS</a></li>
  <li><a href="login.html">LOG IN</a></li>
  <li> <a href="#">CONTACT  US</a></li>
</ul>
<hr>
</div>
<div class="contact">
  <h1>CONTACT</h1>
  <i id="l_icon" class="fa-solid fa-location-dot"></i>
  <p>123, lahore , Pakistan</p><br>
  <i id="p_icon" class="fa-solid fa-phone"></i>
  <p>+92300-1234567</p><br>
  <i id="p_icon"  class="fa-solid fa-envelope"></i>
  <p>info@gmail.com</p>
  <hr>
</div>

 </div>
 <div class="rights">
  <h2>DINEWISE , ALL RIGHT RESERVED.DESIGNED BY SUPERIOR UNIVERSITY STUDENTS</h2>
 </div>
</div>
</body>
</html>